.navbarContainer {
  height: 100px;
  width: 90%;
  background-color: rgb(1, 1, 135);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

.navCategory {
  display: flex;
  gap: 20px;
}

.TitleName {
  font-size: 30px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.becomeExpert {
  color: rgb(1, 1, 135);
  text-transform: capitalize;
}

.signinButton {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
